.rules-flex-container {
	display          : flex;
	padding          : 0;
	margin           : 0;
	background-color: rgba(100, 149, 237, 0);
	list-style       : none;
	justify-content  : space-around;
}

.rules-flex-container section {
	background : tomato;
	padding    : 5px;
	width      : 200px;
	height     : 150px;
	margin-top : 10px;
	font-weight: bold;
	text-align : center;
}

.rules-flex-container .my-list {
	display        : flex;
	flex-direction : column;
	align-items    : flex-start;	
	justify-content: space-around;
	border         : 1px solid black;
}

.rules-flex-container .inner-group {
	display       : flex;
	flex-direction: column;
	align-items   : flex-start;	
	border        : 1px solid black;
}

/*/////////////////////////////////// Rules table ////////////////////////////////////////////*/

.rules-table {
  border-collapse:collapse;
  border-spacing :0;
  border-color   :#aabcfe;
}

.rules-table td {
  /*font-family     :Arial,sans-serif;*/
  font-size       :14px;
  padding         :0.2em 0.1em;
  border-style    :solid;
  border-width    :1px;
  overflow        :hidden;
  word-break      :normal;
  border-color    :#aabcfe;
  color           :#669;
  background-color:#e8edff;
}

.rules-table th {
  /*font-family     :Arial,sans-serif;*/
  font-size       :14px;
  font-weight     :normal;
  padding         :0.2em 0.1em;
  border-style    :solid;
  border-width    :1px;
  overflow        :hidden;
  word-break      :normal;
  border-color    :#aabcfe;
  color           :#039;
  background-color:#b9c9fe;
}

.rules-table .rules-table-header-col-1 {
  text-align    :center;
  vertical-align:top
}

.rules-table .rules-table-header {
  vertical-align:top
}

.rules-table .rules-table-6k2t {
  background-color:#D2E4FC;
  vertical-align  :top
}