
/*//////////// Table 1 //////////////////////////*/

.table1 {
	border-collapse: collapse;
	font-family    : Consolas;	
	font-size      : 0.8em;
	border-spacing : 0;
	border-color   : #aabcfe;
	margin-left    : 4.5em;
	padding        : 0px;
	cursor         : default;

}

.table1 tr td{
	padding   :0.2em 0.3em;
	border    :solid 1px #aabcfe;
	text-align:right;
}

.table1 tr td.cell {
	width :3em;
}

.table1 tr:nth-child(even) {
	background-color:#e8edff;
}

.table1 tr:nth-child(odd) {
	background-color:#D2E4FC;
}


.table1 tr td.month-cell {
	text-align: center;
}


.table1 tr td.date-cell {
	text-align: center;
}

/* month colors - start */
.table1 tr td.year0 {
	background-color: yellow;
	text-align      : center;
}

.table1 tr td.year1 {
	background-color: orange;
	text-align      : center;
}
/* month colors - end */


/* month colors - start */
.table1 tr td.jan {
	background-color: yellow;
	text-align      : center;
}

.table1 tr td.feb {
	background-color: orange;
	text-align      : center;
}

.table1 tr td.mar {
	background-color: yellow;
	text-align      : center;
}

.table1 tr td.apr {
	background-color: orange;
	text-align      : center;
}

.table1 tr td.may {
	background-color: yellow;
	text-align      : center;
}

.table1 tr td.jun {
	background-color: orange;
	text-align      : center;
}

.table1 tr td.jul {
	background-color: yellow;
	text-align      : center;
}

.table1 tr td.aug {
	background-color: orange;
	text-align      : center;
}

.table1 tr td.sep {
	background-color: yellow;
	text-align      : center;
}

.table1 tr td.oct {
	background-color: orange;
	text-align      : center;
}

.table1 tr td.nov {
	background-color: yellow;
	text-align      : center;
}

.table1 tr td.dec {
	background-color: orange;
	text-align      : center;
}

/* month colors - end */

.table1 tr td.right-border {
	border-right: black solid 1px;
}


.table1 tr.date-row {
	/*background-color: rgb(141, 231, 148);*/
	text-align      : center;
}

/* Format date row for vertical text. */
.table1 tr.date-row-old {	
	background-color: #b7ddf3;
	border          : 1px solid green;
	font-size       : 1em;
	padding         : 0px;
	text-align      : right;
	height          : 8em;
	white-space     : nowrap;
	}

.table1 tr td.date-cell-old {	
	text-align      : right;
	background-color: rgba(100, 149, 237, 0);;
	border          : 1px solid #356d88;
	font-size       : 1.1em;
	padding         : 0px;
	max-width       : 1em;
	height          : 1em;
	white-space     : nowrap;
    transform       : rotate(270deg) translate(-2em, 0em);
}

/* Format column 1 */
.table1 tr td:nth-child(1) {	
	text-align      : left;
	background-color: rgba(100, 149, 237, 0);
}

/*do this in JS, not in css*/
.table1 tr td.rowHeader0 {
	padding-left: 1em;
}

.table1 tr td.rowHeader1 {
	padding-left: 2em;
}

.table1 tr td.rowHeader2 {
	padding-left: 3em;
}

.table1 tr td.rowHeader3 {
	padding-left: 4em;
}

.table1 tr td.rowHeader4 {
	padding-left: 5em;
}

.table1 tr td span.expander {
	cursor: default;
}

.table1 tr td span.expander:hover {
	color      : blue;
	cursor     : default;
	font-weight: bold;
}

/*/////////////// Specific Table elements ///////////////////////*/

.table1 tr td.header {
	width : 170px;	
}

.table1 tr td.netIncome {
	color: green;
}

.table1 tr td.cashTally {
	color: red;
}

.table1 tr td.blank {
	color           : rgba(100, 149, 237, 0);
	background-color: white;
	border-color    : white;
}

.table1 tr.section-total-level-2 {
	background-color: rgb(186, 200, 255);
}

.table1 tr.section-total-level-1 {
	background-color: rgb(100, 200, 255);
}

.table1 tr td.section-total {
	font-weight: bold;
}

.table1 tr.lineItem {
	color: green;
}

.table1 tr td.lineItem {
	color: green;
}

/*//////////////////////////////////////*/

.table1 tr td.hightlightHeaderCell {
	background-color: #91d2c6;
}

.table1 tr.hightlightRow {
	background-color: #91d2c6;
}

/*//////////////////////////////////////*/

.header-modal {
	background-color: rgba(100, 149, 237, 0);
	position        : absolute;
	width           : 4.5em;
}

.modal-button {
	font-family     : "Helvetica Neue",Helvetica,Arial,sans-serif;
	width           : 5em;
	padding         : 0px;
	font-size       : 0.8em;
	line-height     : 1.5em;
	line-height     : 1.5em;
	color           : #333;
	background-color: rgba(100, 149, 237, 0);
	margin          : 0px;
}

.collapse-button:hover {
	color           : red;
	background-color: white;

}

/*high charts*/
#container {
	min-width: 310px;
	max-width: 1200px;
	height   : 400px;
	margin   : 0 auto
}

