.table-cashflow {
	border-collapse: collapse;
	border-spacing : 0;
	padding        : 0px;
	cursor         : default;
	margin         : auto;
	margin-top     : 0em;
}

.table-cashflow tr td{
	padding   :0.2em 0.3em;
	border    :solid 1px #CAD2FF;
	text-align:right;
}

.table-cashflow tr td.cell {
	width :3.5em;
  font-family: Trebuchet MS, sans-serif;
}

.table-cashflow tr  {
	background-color:#e8edff;
}

.table-cashflow tr td.date-cell {
	text-align: center;
	border-top: 1px solid black;
}

.table-cashflow tr td.year0 {
	background-color: #bcc0d6;
	text-align      : center;
}

.table-cashflow tr td.year1 {
	background-color: #dfddee;
	text-align      : center;
}

.table-cashflow tr td.right-border {
	border-right: black solid 1px;
}

.table-cashflow tr.date-row {
	text-align: center;
}

/* Format column 1 */
.table-cashflow tr td:nth-child(1) {	
	text-align      : left;
	background-color: rgba(0, 0, 0, 0);
}

/* Format date row */
.table-cashflow tr:nth-child(2) td {	
	border-bottom: 1px solid black;
}

/*do this in JS, not in css*/
.table-cashflow tr td.rowHeader0 {
	padding-left: 1em;
}

.table-cashflow tr td.rowHeader1 {
	padding-left: 2em;
}

.table-cashflow tr td.rowHeader2 {
	padding-left: 3em;
}

.table-cashflow tr td.rowHeader3 {
	padding-left: 4em;
}

.table-cashflow tr td.rowHeader4 {
	padding-left: 5em;
}

.table-cashflow tr td.rowHeader5 {
	padding-left: 6em;
}

.table-cashflow tr td.rowHeader6 {
	padding-left: 7em;
}

.table-cashflow tr td.rowHeader7 {
	padding-left: 8em;
}

.table-cashflow tr td span.expander-chevron {
	color    : rgb(105, 105, 105);
	font-size: 0.7em;
}

.table-cashflow tr.blank {
	line-height     : 0px;
	color           : rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
}

.table-cashflow tr td.blank {
	color             : rgba(0, 0, 0, 0);
	background-color  : rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0);
	border-left-color : rgba(0, 0, 0, 0);
	border-bottom     : 1px solid black !important;
	border-left       : 1px solid rgba(255, 0, 0, 0) !important;
	border-right      : 1px solid rgba(255, 0, 0, 0) !important;
	padding           : 4px 0px;
}

.table-cashflow tr.blank-background {
	background-color: rgba(0, 0, 0, 0);
}

.table-cashflow tr.tally {
	background-color: #DDF6F0;
	border-bottom   : 1px solid black !important;	
}

.table-cashflow tr td.tally {
	/*background-color: #b2d3ff;*/
	border-bottom   : 1px solid black !important;	
}

.table-cashflow tr td.table-right {
	border-right: solid 1px black;
}

.table-cashflow tr td.table-left {
	border-left: solid 1px black;
}

.table-cashflow tr td.table-bottom {
	border-bottom: solid 1px black;
}

.table-cashflow tr td.month-cell {
	text-align   : center;
	border-top   : 1px solid black;
	border-bottom: 1px solid black;
}

.table-cashflow tr td .graph-toggle-on {
	color       : red;
	border-color: red;
}

.table-cashflow tr td .graph-toggle-off {
	color: black;
}

.header-buttons {
	margin-left : 0px;
	padding-left: 0px !important;
	color       : #747474;
}

.table-cashflow tr td.header-buttons {	
	background-color: rgba(0, 0, 0, 0);
	border-right    : 1px solid black;
	cursor          : default;
}

.table-cashflow tr.title-row {
	background-color: blue;
	border-top      : 1px solid rgba(0, 0, 0, 0);
}

.table-cashflow tr td.title-row {
  padding-right: 0;
	text-align   : left;
	border-right : 1px solid rgba(0, 0, 0, 0);
	border-left  : 1px solid rgba(0, 0, 0, 0);
	border-top   : 1px solid rgba(0, 0, 0, 0);
	border-bottom: 1px solid black;
}

.table-cashflow tr td.cell-0-0 {
	border-right : 1px solid rgba(0, 0, 0, 0) !important;
	border-left  : 1px solid rgba(0, 0, 0, 0) !important;
	border-top   : 1px solid rgba(0, 0, 0, 0) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
}

.table-cashflow tr td.cell-1-1 {
	border-right: 1px solid black;
}

.table-cashflow tr td.cell-0-1 {
	border-right       : 1px solid black;
	border-top-color   : rgba(0, 0, 0, 0);
	border-bottom-color: rgba(0, 0, 0, 0);	
}

.table-cashflow tr td *.no-wrap {
	white-space: nowrap;
}

.row-holder {
	display         : flex;
	flex-direction  : column;
	align-items     : center;	
	margin          : 0px;
	padding         : 0px;
	border-radius   : 0.5em;
}

.table-row {
	display       : flex;
	flex-direction: row;
	align-items   : flex-start;	
}

.table-cashflow tr.highlightRow {
	background-color: #b2d3ff !important;
	border          : 1 px solid red !important;
}

.total-of-tallies {
	background-color: #9bd8cd !important;
}














	