<!DOCTYPE html>
<html>
<head>
	<title>money buckets</title>

	<!-- Get styles -->
    <link rel="stylesheet" media="screen" href="/css/packages/ngDialog-theme-default.css">
    <link rel="stylesheet" media="screen" href="/css/styles.css">
    <link rel="stylesheet" media="screen" href="/css/studys.css">
    <link rel="stylesheet" media="screen" href="/css/myNgDialog.css">
    <link rel="stylesheet" media="screen" href="/css/rules.css">
    <link rel="stylesheet" media="screen" href="/css/scenarios.css">
    <link rel="stylesheet" media="screen" href="/css/fonts.css">
    <link rel="stylesheet" media="screen" href="/css/toolTips.css">
    <link rel="stylesheet" media="screen" href="/css/tables.css">
    <link rel="stylesheet" media="screen" href="/css/chart.css">
    <link rel="stylesheet" media="screen" href="/css/rulesTable.css">
    <link rel="stylesheet" media="screen" href="/css/test.css">
    <link rel="stylesheet" media="screen" href="/css/createEditModal.css">

    <!-- Styles for date picker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- get jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <!-- angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>


    <!-- high charts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- packages -->
    <script src="js/packages/ngDialog.js"></script>
    <script src="js/packages/angular-cookies.js"></script>
    
    <!-- ///////////////////////////////// js files ///////////////////////////////////// -->

    <!-- controllers -->
    <script src="js/finance.controller.js"></script>
    
    <!-- services -->
    <script src="js/api.service.js"></script>
    <script src="js/constants.service.js"></script>
    <script src="js/chart.service.js"></script>

    <script src="js/rules.service.js"></script>
    <script src="js/dataBase.service.js"></script>
    <script src="js/dataGeneration.service.js"></script>
    <script src="js/utilities.service.js"></script>
    <script src="js/table.service.js"></script>

    <!-- directives -->
    <script src="js/mainTable.directive.js"></script>
    <script src="js/chart.directive.js"></script>
    <script src="js/landingPage.directive.js"></script>
    <script src="js/createEditLineItem.directive.js"></script>
    <script src="js/ruleManager.directive.js"></script>
</head>

<body ng-app="app">
  <landing-page> </landing-page>
</body>
</html>