<div class="rules-flex-container row-holder">

  <span>Rules - move until full</span>      
  <table class="rules-table">
    <tr>
      <th class="rules-table-header-col-1">
        <span>rule name</span>
      </th>

      <th class="rules-table-header">
        <span>move cash from this row</span>
      </th>

      <th class="rules-table-header">
        <span>to this row</span>
      </th>

      <th class="rules-table-header">
        <span>while this row has more than</span>
      </th>

      <th class="rules-table-header">
        <span>source min value</span>
      </th>

      <th class="rules-table-header">
        <span>and this row has less than</span>
      </th>

      <th class="rules-table-header">
        <span>this max amount</span>
      </th>

      <th class="rules-table-header">
        <span>options</span>
      </th>
    </tr>

    <!-- //////////////////////////////////////////////////////// -->
    <tr ng-repeat="rule in ruleManager.rules">
      <td>
        <span>
        <input
          ng-if            ="!rule.fakeRule" 
          type             ="text"
          name             ="input"
          ng-model         ="rule.name"
          required ng-trim ="false"
          ng-blur          = "ruleManager.updateRule(rule)"
          >
        </span>
      </td>
      <td>
        <span
          class    ="hyperlink"
          ng-click ="ruleManager.showPicker(rule, rule.outflowLineItemGuidCallBack)"
          >
          {{rule.outflowLineItemGuidName}}
        </span>
      </td>

      <td>
        <span
          class    ="hyperlink"
          ng-click ="ruleManager.showPicker(rule, rule.inflowLineItemGuidCallBack)"
          >
          {{rule.inflowLineItemGuidName}}
        </span>
      </td>

      <td>
        <span
          class    ="hyperlink"
          ng-click ="ruleManager.showPicker(rule, rule.sourceGuidCallBack)"
          >
          {{rule.sourceGuidName}}
        </span>
      </td>
      
      <td>
        <input
          ng-if            ="!rule.fakeRule" 
          type             ="number"
          name             ="input"
          ng-model         ="rule.sourceMinAmount"
          required ng-trim ="false"
          ng-blur          ="ruleManager.updateRule(rule)"
          >
      </td>

      <td>
        <span
          class    ="hyperlink"
          ng-click ="ruleManager.showPicker(rule, rule.destinationGuidCallBack)"
          >
          {{rule.destinationGuidName}}
        </span>
      </td>
      
      <td>
        <input
          ng-if            ="!rule.fakeRule" 
          type             ="number"
          name             ="input"
          ng-model         ="rule.destinationMaxAmount"
          required ng-trim ="false"
          ng-blur          = "ruleManager.updateRule(rule)"
          >
      </td>

      <td>
        <span>
          <span ng-click="ruleManager.addRule(rule)">[add]</span>
          <span ng-click="ruleManager.deleteRule(rule)">[delete]</span>
        </span>
      </td>

    </tr>
  </table>    

</div>
