<div>
	<em>{{blocks}}</em>
	<br></br>

  <p>Start Date:
      <input
         type      ="text"
         id        ="datepicker"
         ng-change ="maintable.redrawTable(maintable.tableConfig)"
         ng-model  ="maintable.tableConfig.startDate">
  </p>

  <p>Num Days:
      <input
         type     ="text"
         id       ="numdays"
         ng-blur  ="maintable.redrawTable(maintable.tableConfig)"
         ng-model ="maintable.tableConfig.numColInTable">
  </p>

  <div>
    <table
      class        ="table1"
      ng-mouseover ="maintable.showOptionDetails(option)"
    >
      <tr
        ng-repeat ="row in maintable.tableMatrix track by $index"
        ng-if     ="row.rowVisible"
        ng-class  ="{{row.classes}}"
        >
        <td
          ng-repeat     ="cell in row.cells track by $index"
          ng-class      ="{{cell.classes}}"
          ng-mouseover  ="maintable.enteredHeader($event, $parent.$index, $index, row, cell)"
          ng-mouseleave ="maintable.exitedHeader ($event, colIndex, rowIndex, row, cell)"
          ng-click      ="maintable.changeCollapseState(row, cell)"
        >
          {{cell.valueToDisplay === 0 ? '' : cell.valueToDisplay}}
          {{cell.expander}}
        </td>
      </tr>
    </table>
  </div>

  <!-- header modal, convert this to a directive -->

  <div 
   ng-show       ="maintable.showModal"
   id            ="{{maintable.rowHeaderModalId}}"
   class         ="header-modal"
   ng-mouseover  ="maintable.enteredModal()"
   ng-mouseleave ="maintable.exitedModal()"
  > 
    <div>
      
      <button
        xxx-ng-show ="false"
        class   ="modal-button"
        type    ="button"
      >
        Edit
      </button>      
      
    </span>
  </div>

</div>